<div class="varification_container">
    {{#unless response.processed}}
    {{#if response.verified}}
    <div class="main-content">
        <form action="/api/auth/reset_password/{{response.email}}/{{response.token}}" method="post" class="form">
            <h3 class="form__header">Set Password For your Account</h3>
            <div style="display: flex; flex-direction: column; width: 100%; overflow: hidden; padding: 2rem 0rem;">
                <div class="form__group">
                    <input class="form__input" id="password" type="password" name="password"
                        placeholder="Enter Password">
                    <label class="form__label" for="password">Enter Password</label>
                </div>
                <div class="form__group">
                    <input class="form__input" id="comfirm_password" type="password" name="comfirm_password"
                        placeholder="Comfirm Password">
                    <label class="form__label" for="comfirm_password">Comfirm Password</label>
                </div>
                <input name="verified" type="text" hidden value={{response.verified}}>
                <input name="email" type="text" hidden value={{response.email}}>
                <input name="token" type="text" hidden value={{response.token}}>
            </div>
            <h5 class="form__error">{{response.error}}</h5>
            <input class="th-btn th-btn--primary form__btn" type="submit" value="Set Password">
        </form>
    </div>
    {{else}}
   <div>
        <section class="success">
            <h1 class=" error succes_header"> Your Verification Was Not Successful</h1>
            <h4 class="success_text"> {{ response.message }} <a href="{{ response.HOST_URL }}">Go To Home</a> </h4>
        </section>
    </div>
    {{/if}}
    {{else}}
    {{#if response.passwordChanged}}
    <section class="success">
        <h1 class="success_header">Your Process is Complete.</h1>
        <h3 class="success_text">Your email address is verified, you can login to the system now.
            Click <a href="https://8thdd.com/login">here</a> to login.</h3>
    </section>
    {{else}}
    <div class="error">
        Sorry we can not change your password
    </div>
    {{/if}}
    {{/unless}}
</div>